<table class="table table-striped">
    <thead>
    <tr>
        <th>{:__('Title')}</th>
        <th>{:__('Content')}</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>{:__('User.nickname')}</td>
            <td>{$row.user.nickname}</td>
        </tr>
        <tr>
            <td>{:__('User.nickname')}</td>
            <td>{$row.user.nickname}</td>
        </tr>

        {volist name="row.user" id="vo"  }
        <tr>
            <td>{:__('user.'.$key)}</td>
            <td>{$vo}</td>
        </tr>
        {/volist}
        {volist name="row.userbank" id="vo"  }
        <tr>
            <td>{:__('userbank.'.$key)}</td>
            <td>{$vo}</td>
        </tr>
        {/volist}
    </tbody>
</table>


<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="button" class="btn btn-success btn-embossed btn-audit btn-callback">{:__('Audit')}</button>
            <button type="button" class="btn btn-info btn-embossed btn-accept btn-callback">{:__('Accept')}</button>
            <button type="button" class="btn btn-danger btn-embossed btn-reject btn-callback">{:__('Reject')}</button>
        </div>
    </div>
</form>
