<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-group_id" class="control-label col-xs-12 col-sm-2">{:__('Group')}:</label>
        <div class="col-xs-12 col-sm-4">
            {$groupList}
        </div>
    </div>
    <div class="form-group">
        <label for="c-nickname" class="control-label col-xs-12 col-sm-2">{:__('Nickname')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-nickname" data-rule="required" class="form-control" name="row[nickname]" type="text" value="{$row.nickname}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-email" class="control-label col-xs-12 col-sm-2">{:__('Email')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-email" data-rule="" class="form-control" name="row[email]" type="text" value="{$row.email}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-mobile" class="control-label col-xs-12 col-sm-2">{:__('Mobile')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-mobile" data-rule="" class="form-control" name="row[mobile]" type="text" value="{$row.mobile}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-balance" class="control-label col-xs-12 col-sm-2">{:__('Balance')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-balance" data-rule="" class="form-control" name="row[balance]" type="text" value="{$row.balance}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-frozen" class="control-label col-xs-12 col-sm-2">{:__('Frozen')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-frozen" data-rule="" class="form-control" name="row[frozen]" type="text" value="{$row.frozen}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-graduaction" class="control-label col-xs-12 col-sm-2">{:__('Graduaction')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-graduaction" data-rule="required" class="form-control" name="row[graduaction]" type="text" value="{$row.graduaction}">
        </div>
    </div>

    <div class="form-group">
        <label for="c-graduaction_time" class="control-label col-xs-12 col-sm-2">{:__('Graduaction_time')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-graduaction_time" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM" data-use-current="true" name="row[graduaction_time]" type="text" value="{$row.graduaction_time}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-graduaction_major" class="control-label col-xs-12 col-sm-2">{:__('Graduaction_major')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-graduaction_major" data-rule="required" class="form-control" name="row[graduaction_major]" type="text" value="{$row.graduaction_major}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Graduaction_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-graduaction_image" class="form-control" size="50" name="row[graduaction_image]" type="text" value="{$row.graduaction_image}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-graduaction_image" class="btn btn-danger plupload" data-input-id="c-graduaction_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-graduaction_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-graduaction_image" class="btn btn-primary fachoose" data-input-id="c-graduaction_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-graduaction_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-graduaction_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard_positive_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcard_positive_image" class="form-control" size="50" name="row[idcard_positive_image]" type="text" value="{$row.idcard_positive_image}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcard_positive_image" class="btn btn-danger plupload" data-input-id="c-idcard_positive_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-idcard_positive_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-idcard_positive_image" class="btn btn-primary fachoose" data-input-id="c-idcard_positive_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-idcard_positive_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcard_positive_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Idcard_negative_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-idcard_negative_image" class="form-control" size="50" name="row[idcard_negative_image]" type="text" value="{$row.idcard_negative_image}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-idcard_negative_image" class="btn btn-danger plupload" data-input-id="c-idcard_negative_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-idcard_negative_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-idcard_negative_image" class="btn btn-primary fachoose" data-input-id="c-idcard_negative_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-idcard_negative_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-idcard_negative_image"></ul>
        </div>
    </div>
    <div class="form-group">
        <label for="c-gender" class="control-label col-xs-12 col-sm-2">{:__('Gender')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[gender]', ['1'=>__('Male'), '0'=>__('Female')], $row['gender'])}
        </div>
    </div>
    <div class="form-group">
        <label for="c-birthday" class="control-label col-xs-12 col-sm-2">{:__('Birthday')}:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-birthday" data-rule="" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[birthday]" type="text" value="{$row.birthday}">
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')], $row['status'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
